@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&family=Open+Sans:ital,wght@0,500;1,300&display=swap');

body {
  width: auto;
  margin: 0;
  padding: 0;
  background-color: #1b1b32;
  color: #f5f6f7;
  font-family: 'Montserrat', sans-serif;
}

#title {
  text-align: center;
  font-weight: lighter;
  margin-top: 3rem;
  font-size: 2rem;
}

#description {
  text-align: center;
  font-style: italic;
  margin-top: -.8em;
  font-size: 18px;
  margin-bottom: 2rem;
  font-weight: lighter;
}

#survey-form {
  position: relative;
  width: 45vw;
  margin: 0 auto;
  padding: 2.7em 2.5rem 2.7rem 2.5rem;
  background-color: #21215356;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
}
#name-label, #email-label, #number-label {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 1.5rem;
  line-height: 2rem;
}
#name, #email, #number {
  height: 2.2rem;
  width: 100%;
  background-color: #f5f6f7;
  padding-left: .7rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  border-radius: 5px;
  font-weight: lighter;
  color: #746767;
}
#name:focus, #email:focus, #number:focus {
  outline: none;
  border: 1px solid #294dc4;
}
#label{
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 0;
}

#dropdown {
  height: 2.2rem;
  width: 46vw;
  background-color: #f5f6f7;
  padding-left: .7rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  border-radius: 5px;
  font-weight: lighter;
}
#dropdown, select {
  font-weight: lighter;
  color: #746767;
}

#dropdown:focus {
  outline: none;
  border: 1px solid #294dc4;
}

#last {
  font-size: 19px;
  font-weight: 500;
  padding-bottom: -1rem;
}

p {
  font-size: 18px;
  font-weight: 500;
}

label {
  display: block;
  margin: 0.5rem 0;
}

textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input{
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
  color: #ffffff;
}
input.largerCheckbox {
  width: 17px;
  height: 17px;
}

#last {
  background-color: #f5f6f7;
  padding-left: .7rem;
  padding-top: .7rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  color: #746767;
  font-size: 16px;
}

input[type="submit"] {
  display: block;
  width: 46vw;
  margin: 1em auto;
  height: 2.5em;
  font-size: 1.1rem;
  background-color: #34c06a;
  border-color: white;
  min-width: 300px;
  padding: 7px 0 7px 0;
  font-family: 'Montserrat', sans-serif;
  border: none;
  font-size: 16px;
  overflow: hidden;
}
  
